body{
margin:0;
font-family:Segoe UI;
background:linear-gradient(160deg,#3b0000,#7b1c1c);
color:white;
}

.container{
max-width:520px;
margin:auto;
padding:20px;
text-align:center;
}

.card{
background:rgba(255,255,255,.1);
padding:22px;
border-radius:18px;
box-shadow:0 12px 30px rgba(0,0,0,.5);
}

input,select,button{
width:100%;
padding:14px;
margin:10px 0;
border-radius:12px;
border:none;
font-size:16px;
}

.quiz-btn{
background:linear-gradient(45deg,#ffd54f,#ff9800);
font-weight:900;
cursor:pointer;
}

.alt{
background:#222;
padding:12px;
margin:8px 0;
border-radius:8px;
cursor:pointer;
}

.correta{background:#2e7d32}
.errada{background:#b71c1c}

#btnProxima{
display:none;
background:#c62828;
color:white;
font-weight:bold;
cursor:pointer;
}

.feedback{
font-weight:bold;
margin-top:12px;
}
